 body {
   background-color: #F2A410;
 }
 .btn-grad {
  font-family: Azeebee;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s; 
  background-size: auto;
  color: white;
  letter-spacing: 1.5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
}
.btn-grad {
  background-image: radial-gradient( #151404 30%, #000000 70%, #1c1b06 100%)
}
.ft {
  height: 100%;
  width: auto;
  padding: 0;
}

.bg-cr {
  background-color: #E06309;
}
.bg-jb {
  background-color: #F2A410;
}

.card{
  margin-left: 8vh;
}

h1{
  width: auto;
}