<html>

       <head>
              <meta charset="utf-8"/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <meta http-equiv="X-UA-Compatible" content="ie=edge" />
              <title>Portifólio</title>

       </head>

       <body>
         <header class=" ">
               
          <div class=" p-5 mt-5 ">
                <h1 class="mt-5 ml-5 text-center text-white"> Cantinho do Saber
                    <img class="foto " src="https://png.pngtree.com/png-vector/20190326/ourmid/pngtree-idea-graphic-design-template-vector-illustration-png-image_866092.jpg"/>
                </h1>             
              
            </div>
            <p class="text-white text-center "> 
               Chegou a hora da transformação, escolha seu curso e bora trabalhar? 
              </p>
           </header>
         <main>
          
           <div class="coluna-maior">            
            <hr>
            <h2 class="text-center">Cursos Disponíveis</h2>
             <hr>
             <div class="projetos">             
             <div class="projeto">
               <h3 class="text-center">Edição de Fotos e Vídeos </h3>
               <hr>
               <img class="mx-auto d-block" src="https://i.imgur.com/NMRQ15O.png"/>
               <hr>
               <p class="text-justify">Neste curso, você conhecerá o aplicativo Windows Fotos, terá um panorama dos recursos disponibilizados e aprenderá os principais conceitos sobre esse aplicativo, que permite a edição de arquivos de imagens e criação de vídeos.<br>
Você vai descobrir como essa ferramenta pode auxiliar na criação de vídeos promocionais, informativos e vídeos utilizando fotografias.
Abordaremos, também, a aplicação de efeitos e áudios, fundos musicais e gravação de imagens.<br>
Além disso, apresentaremos os recursos disponibilizados pela ferramenta Story Remix, suas animações e efeitos 3D.
Todos esses conteúdos são abordados de forma bem didática e você vai perceber que a edição de fotos e vídeos pode ser realizada por todos, de uma maneira bem descomplicada!<br>

<br> Duração 05h Nível Iniciante

 </p>
               
               <a href="https://www.ev.org.br/cursos/edicao-de-fotos-e-videos-com-windows-10"  target="_blank">Ver Curso</a>
             </div>
             <div class="projeto">
               <h3 class="text-center">Fotografias com Dispositivos Móveis</h3>
               <hr>
               <img class="mx-auto d-block" src="https://i.imgur.com/jozX7m4.jpg"/>
               <hr>
               <p class="text-justify">O curso de Fotografias com Dispositivos Móveis é composto de seis aulas, nas quais você conhecerá o contexto histórico da fotografia, desde sua origem, em meados de 1826, até os tempos atuais, das tão conhecidas e já popularizadas fotos digitais.<br>
Você aprenderá sobre criação e edição de imagens utilizando dispositivos móveis e terá base para fotografar e manipular fotos com o seu aparelho celular.<br>
No decorrer do curso, você poderá realizar alguns exercícios que auxiliarão na sua aprendizagem sobre as principais técnicas abordadas em cada aula.<br>
Além disso, você conhecerá um pouco sobre teoria das cores, definição e resolução de imagens digitais.<br>
Ao finalizar este curso, você estará apto a tirar fotos com mais qualidade, utilizando seu celular, além de ter conhecimento para publicá-las nas redes sociais ou imprimi-las, se for o caso.<br>
Duração 08h Nível Iniciante
 </p>
               
               <a href="https://www.ev.org.br/cursos/fotografias-com-dispositivos-moveis"  target="_blank">Ver Curso</a>
             </div>
             <div class="projeto">
               <h3 class="text-center">Técnicas de Redação</h3>
               <hr>
                <img class="mx-auto d-block" src="https://i.imgur.com/5LRxGvu.png"/>
                <hr>
               <p class="text-justify">Bem-vindo ao curso Técnicas de Redação!
O objetivo deste curso é aprimorar seus conhecimentos sobre a produção escrita.<br>
Serão abordados alguns gêneros, como notícia, carta do leitor (que é um instrumento importante para o exercício dos direitos de cidadão) e a dissertação-argumentativa, bastante exigida em exames vestibulares.<br>
Você também conhecerá as etapas do planejamento da comunicação escrita para produzir bons textos e os critérios de correção pelos quais são avaliadas as produções textuais.<br>

Duração 10h Nível Iniciante
 </p>
              
               <a href="https://www.ev.org.br/cursos/tecnicas-de-redacao"  target="_blank">Ver Curso</a>
             </div>
                <div class="projeto">
               <h3 class="text-center">Aprenda Língua de Sinais</h3>
               <hr>
               <img class="mx-auto d-block" src="https://i.imgur.com/6uc2o8C.jpg"/>
               <hr>
               <p class="text-justify">Quer aprender Libras? Quer entender melhor sobre a cultura surda?
Este curso permitirá aprender LIBRAS e em pouco tempo ter conversas básicas com pessoas surdas.
O nosso método de ensino simples com uso de sinais básicos que lhe permitirá iniciar um diálogo com o surdo.
Nosso compromisso com você é ajudá-lo a aprender Libras e se inserir na cultura surda.
Para quem é este curso:
Alunos sem conhecimento em LIBRAS

Conteúdo do curso
4 seções • 6 aulas • Duração total: 32 min
 </p>
              
               <a href="https://www.udemy.com/course/cursodelibras2020/"  target="_blank">Ver Curso</a>
             </div>
               <div class="projeto">
               <h3 class="text-center">Edição e tratamento de imagens</h3>
               <hr>
                  <img class="mx-auto d-block" src="https://i.imgur.com/FcZ6Xqw.jpg"/>
               <hr>
                  <p class="text-justify">O conteúdo do curso é aplicável diretamente a pessoas que desejam trabalhar na área de Design Web, Desenvolvimento Web, Publicidade, Fotografia, Design, Desenvolvimento de jogos e multimídia. Também pode interessar a usuários que queiram produzir conteúdo e compartilhá-lo em redes sociais, blogs, páginas web, possibilitando o seu consequente destaque em plataformas de comunicação que estão se consolidando e são, potencialmente, nichos de mercado em formação.<br>
O que eu preciso saber?<br>
Para acompanhar este curso, é recomendado que o aluno tenha conhecimento básico na operação de um computador, incluindo noções de estrutura do sistema de arquivos e pastas.<br>
Dificuldade do curso: Iniciante.

 </p>
              
               <a href="https://cursos.timtec.com.br/course/edicaoetratamento/intro"  target="_blank">Ver Curso</a>
             </div>
               <div class="projeto">
               <h3 class="text-center">Curso de HTML</h3>
               <hr>
                 <img class="mx-auto d-block" src="https://i.imgur.com/Sqpy5hS.jpg"/>
               <hr>
                 <p class="text-justify">O HTML em suas iniciais significa HyperText Markup Language, em português podemos traduzir ao pé da letra como Linguagem de Marcação de Hipertexto, e se refere a um método de configuração de páginas para a internet.
                    <br>
                    A sua linguagem de marcação presente nas páginas de web permitem a interpretação dos códigos através dos navegadores. Essa tecnologia e metodologia são possíveis graças ao agrupamento dos padrões.<br>
Não há pré-requisitos.<br>
Nível de dificuldade: Iniciante.

 </p>
               
               <a href="https://www.cursae.com.br/cursos/curso-de-html" target="_blank">Ver Curso</a>
             </div>
             <div class="projeto">
                <h3 class="text-center">Criando interfaces do zero com Figma</h3>
                <hr>
                <img class="mx-auto d-block" src="https://i.imgur.com/NvF3Wvu.jpg"/>
                <hr>
                <p class="text-justify">Com esse curso de Figma você vai aprender a usar uma da mais modernas e melhores ferramentas de User interface do mercado, irá aprender do zero até o protótipo final.
  </p>
               <p>Qual é o público alvo?
                Pessoas interessadas em aprender design de interface, designers de produtos, web designers, UX/UI designers, iniciantes no mercado de design.</p>
               <p> Ao final do curso, você será capaz de: Conhecer as funcionalidades da ferramenta, a criar componentes reutilizáveis que otimizam o trabalho de prototipação,
                configurar um protótipo navegável, compartilhar o projeto e receber feedbacks</p>
                <a href="https://www.cursae.com.br/cursos/figma-criando-interfaces-do-zero-ate-o-prototipo-final" target="_blank">Ver Curso</a>
              </div>
              <div class="projeto">
                <h3 class="text-center">Excel 2016 para iniciantes </h3>
                <hr>
                <img class="mx-auto d-block" src="https://i.imgur.com/6fCGI4b.jpg"/>
                <hr>
                <p class="text-justify">Durante esse você vai aprender como utilizar as principais ferramentas do Excel. Vai aprender como trabalhar com texto, números, formula e funções, gráficos, imagens e outras coisas. Depois que estiver familiarizado com os elementos necessários do Excel, você vai ter a oportunidade de colocar o que aprendeu em prática no projeto final onde você vai criar um orçamento de viagem.<br>
                    Além disso, você vai aprender os vários aspectos essências do Excel como criar um novo documento, abrir, salvar, salvar como e imprimir a planilha.
 Todos esses conteúdos são abordados de forma bem didática e você vai perceber que a edição de fotos e vídeos pode ser realizada por todos, de uma maneira bem descomplicada!<br>
 
 <br> Duração 05h Nível Iniciante
 
  </p>
                
                <a href="https://www.cursae.com.br/cursos/excel-2016-para-iniciantes" target="_blank">Ver Curso</a>
              </div>
             </div>   
            </div>         
        </main>

       </body>

</html>