<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--icons-->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!--bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>RenTo | Serviços</title>
</head>


<body>
	<!-- slider section -->
	<div class="hero_area">
		<div class="bg-box">
			<img src="https://images.unsplash.com/photo-1633114073804-1ea0fac57af0?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
				alt="">
		</div>
		<!-- end header section -->
		<!-- slider section -->
		<section class="slider_section">
			<div id="customCarousel1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="row">
								<div class="col-md-7 col-lg-6 ">
									<div class="detail-box">
										<h1 class="h1title">
											<span>ODS 16</span>
											<br>
											Paz, Justiça e Instituições Eficazes
										</h1>
										<p>
											Promover sociedades pacíficas e inclusivas para o desenvolvimento
											sustentável, proporcionar o acesso à justiça para todos e construir
											instituições eficazes, responsáveis e inclusivas a todos os níveis
										</p>
										<div class="btn-box">
											<a href="" class="btn1">
												saiba mais
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item ">
						<div class="container ">
							<div class="row">
								<div class="col-md-7 col-lg-6 ">
									<div class="detail-box">
										<h1 class="h1title">
											16.1
										</h1>
										<p>
											Reduzir significativamente todas as formas de violência e as taxas de
											mortalidade relacionadas em todos os lugares.
										</p>
										<div class="btn-box">
											<a href="" class="btn1">
												saiba mais
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container ">
							<div class="row">
								<div class="col-md-7 col-lg-6 ">
									<div class="detail-box">
										<h1 class="h1title">
											16.3
										</h1>
										<p>
											Promover o Estado de Direito, em nível nacional e internacional, e garantir
											a igualdade de acesso à justiça para todos.
										</p>
										<div class="btn-box">
											<a href="" class="btn1">
												saiba mais
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<ol class="carousel-indicators">
						<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
						<li data-target="#customCarousel1" data-slide-to="1"></li>
						<li data-target="#customCarousel1" data-slide-to="2"></li>
					</ol>
				</div>
			</div>
		</section>
		<!-- end slider section -->
	</div>
	<!-- fim slider section -->
	<!--cards-->
	<div class="fundo">
		<div *ngFor='let item of listaCategoria' class="primeira-categoria col-md-12 ">
			<div></div>
			<div class="categoria rounded border border-dark rounded-lg">
				<div class=" mb-1 fonteTitulo">{{item.categoria}}</div>
				<hr>
				<h2 class="valor-categoria fonteValor">Valor por serviço: R$ {{item.valor}}</h2>
				<div class="card-columns">
					<div *ngFor='let item1 of item.produto'>
						<div class="card ">
							<div>
								<img class="card-img-top" src="{{item1.imagem}}" width="100%"
									alt="Imagem de capa do card">
								<div class="card-body">
									<h5 class="card-title fonteServico" >{{item1.nomeServico}}</h5>
									<div class="d-flex flex-column justify-content-center align-items-center">
									<button type="button" class="btn ml-3 mt-2 btnSolicitar btnSolicitar:hover mr-4 " data-toggle="collapse"
									attr.data-target="#Comprar{{item1.id}}"> Informações
									</button>
									<div class="collapse" id='Comprar{{item1.id}}' tabindex="-1" role="dialog">
										<div class="  modalEstilo" role="document">
											<div class=" modalEstilo">
												<div class="">
													<div class="d-flex  flex-column">
														
														<div class="ml-3 fonteModal d-flex flex-column justify-content-center align-items-center">
															<div>
																<div class="text-white mt-3">{{item1.apresentacao}}</div>
															</div>
															<div class="text-white">
																<div class="d-flex flex-column justify-content-start align-items-center">
																	<hr>
																	<div class="d-flex flex-column justify-content-start">
																		<div class="d-flex flex-row justify-content-start">
																			<div class="fonteModal font-weight-bold">Valor do
																				serviço:
																			</div>
																			<div class="text-center ml-5 ">R$
																				{{item.valor}}.00</div>
																		</div>

																		<div class="d-flex flex-row justify-content-start">
																			<div class="mt-3 font-weight-bold">Prestador
																				do
																				serviço:
																			</div>
																			<div class="mt-3 ml-2">
																				{{item1.usuario.nome}}
																			</div>
																		</div>
																	</div>
																	<div class="d-flex flex-column justify-content-center align-items-center mb-3">
																		<a type="button"
																			class="btn btn-grad  btn-grad:hover mt-2 " target="_blank" href="https://wa.me/55{{item1.usuario.telefone}}">Solicitar</a>
																			
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<header>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20962 10601">
			<path class="wave-2" fill="#DE3411"
				d="M25681 10400c-171 822-305 1990-646 3115-341 1124-889 2206-1856 2808-968 602-2355 724-4668 1064s-5550 898-8520 987-5672-290-9037-859c-3366-568-7394-1326-9403-2118-2008-791-1996-1616-1892-3305 103-1689 298-4242 1412-5731 1113-1488 3146-1912 4953-1627 1808 284 3390 1276 4522 1878s1814 814 2423 552 1145-998 2333-1388c1187-389 3025-432 4266 275 1240 707 1884 2164 2861 2407 976 244 2285-726 3493-1308 1209-581 2316-775 3731-567 1415 207 3137 815 4290 1221 1153 407 1737 612 1926 953 189 342-18 820-188 1643z" />

			<path class="wave-3" fill="#e06309"
				d="M30706 11822c-291 731-653 1801-1548 2972-895 1170-2321 2441-4988 3026-2667 586-6574 485-10469 541s-7778 268-10906-256-5501-1784-6906-3382c-1404-1598-1840-3533-1957-4910-118-1377 82-2195 1029-2854 946-659 2637-1158 4033-1002s2495 968 3440 1630 1737 1175 2905 1086c1169-89 2714-780 3810-1332 1095-552 1740-965 2665-820s2130 848 3110 1360c980 513 1734 837 2458 672s1416-819 2179-1050 1597-40 3058 269c1461 310 3550 739 5069 1177 1519 437 2469 883 2998 1112 529 228 639 240 584 440-55 201-274 591-564 1321z" />
		</svg>
	</header>
</body>

</html>