/*background*/
body {
  background: #F2A410;
}

/*=============================================================================categoria*/
/*caixa*/
.categoria {
  margin-top: 120px;
  position: relative;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #F4EFE9;
}

/*texto*/
.h1categoria {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  /* idêntico à altura da caixa */
  letter-spacing: 0.215em;
  color: #111111;
}

h2 {
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  color: #111111;
}

/*=======================================================================Cards Gus-graebin*/
.card-columns{
  width: 150vh;
}

.card-columns {
  
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card {
  background: #111111;
  margin: 10vh;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.border {
  border-width: 2px !important;
}

/*=======================================================================categoria cards*/
body::before {
  content: '';
  position: absolute;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}

/*==============================================================================Modal Serviço*/
.modalEstilo {
  background: #F2A410;
  border-radius: 50px;
}

.img-servico {
  border-radius: 25%;
  width: 25vw;
}

.btn-grad {
  background-image: radial-gradient(#151404 30%, #000000 70%, #1c1b06 100%)
}

.btn-grad {
  font-family: Azeebee;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  letter-spacing: 1.5px;
  border-radius: 25%;
  box-shadow: 0 0 5px #041f0c;
  display: block;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
}


.btnSolicitar {
  background-image: linear-gradient(to right, #ff2313 0%, #f8855c 51%, #f2554a 100%)
}

.btnSolicitar {
  font-family: Azeebee;
  margin: 1%;
  padding: 5% 15%;
  text-align: center;
  font-size: 1.5vw;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 3% #a34b44;
  border-radius: 25%;
  display: block;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSolicitar:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (min-width: 400px) {
  .fonteTitulo {
    margin-top: 10vh;
    margin-left: 10vh;
    font-size: 2vw;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: #111111;
  }

  .fonteValor {
    margin-top: 5vh;
    margin-left: 10vh;
    font-size: 2vw;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    color: #111111;
  }

  .fonteServico {
    font-weight: bold;
    font-size: 2vh;
    margin-left: 2vh;
    color: #E06309;
  }

  .fonteUsuario {
    font-family: Azeebee;
    font-size: 1.25vw;
  }

  .fonteModal {
    margin: 5vh;
    font-size: 1vw;
  }

  .btnSolicitar {
    font-family: Azeebee;
  }

}

@media (max-width: 400px) {
  .fonteTitulo {
    font-family: Azeebee;
    font-size: 18px !important;
  }

  .fonteValor {
    font-family: Azeebee;
    font-size: 15px;
  }

  .fonteServico {
    font-family: Azeebee;
    color: #111111;
    font-size: 12px;
  }

  .fonteUsuario {
    font-family: Azeebee;
    font-size: 1.25vw;
  }

  .fonteModal {
    font-family: Azeebee;
    color: #111111;
    font-size: 11px;
  }

  .btnSolicitar {
    font-family: Azeebee;
    font-size: 10px;
  }
}