<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>RenTo | Serviços</title>
</head>


<body>
	<input type="radio" id="s-1" name="slider-control" checked="checked">
	<input type="radio" id="s-2" name="slider-control">
	<input type="radio" id="s-3" name="slider-control">
	<div class="js-slider">
		<figure class="js-slider_item img-1">
			<div class="js-slider_img">
				<img class="c-img-w-full" src="https://pics.codecolor.cn/images-opacity-slider/img_2_3.jpg" alt="">
			</div>
			<figcaption class="wo-caption">
				<h3 class="wo-h3">
					<div class="c-label">全点初公開</div>
					<br class="view-sm mb-s">津和野藩伝来摺物
				</h3>
				<ul class="wo-credit">
					<li>摺物118枚 寛政元-12年 (1789-1800)</li>
					<li>島根県立美術館(永田コレクション)</li>
					<li>通期展示
						<span class="c-txt-s">※4期に分けて全点を展示</span>
					</li>
				</ul>
			</figcaption>
		</figure>
		<figure class="js-slider_item img-2">
			<div class="js-slider_img">
				<img class="c-img-h-full" src="https://pics.codecolor.cn/images-opacity-slider/img_2_1.jpg" alt="">
			</div>
			<figcaption class="wo-caption">
				<h3 class="wo-h3">「風流無くてなゝくせ」遠眼鏡</h3>
				<ul class="wo-credit">
					<li>大判 享和年間 (1801-04)</li>
					<li>リー・ダークス・コレクション</li>
					<li>展示期間：1月30日 (水) ～ 2月18日 (月)</li>
				</ul>
			</figcaption>
		</figure>
		<figure class="js-slider_item img-3">
			<div class="js-slider_img">
				<img class="c-img-h-full" src="https://pics.codecolor.cn/images-opacity-slider/img_2_2.jpg" alt="">
			</div>
			<figcaption class="wo-caption">
				<h3 class="wo-h3">「風流無くてなゝくせ」ほおずき</h3>
				<ul class="wo-credit">
					<li>大判 享和年間 (1801-04)</li>
					<li>米・個人蔵</li>
					<li>展示期間：1月30日 (水) ～ 2月18日 (月)</li>
				</ul>
			</figcaption>
		</figure>
		<div class="js-slider_nav">
			<label class="js-slider_nav_item s-nav-1 prev" for="s-3"></label>
			<label class="js-slider_nav_item s-nav-1 next" for="s-2"></label>
			<label class="js-slider_nav_item s-nav-2 prev" for="s-1"></label>
			<label class="js-slider_nav_item s-nav-2 next" for="s-3"></label>
			<label class="js-slider_nav_item s-nav-3 prev" for="s-2"></label>
			<label class="js-slider_nav_item s-nav-3 next" for="s-1"></label>
		</div>
		<div class="js-slider_indicator">
			<div class="js-slider-indi indi-1"></div>
			<div class="js-slider-indi indi-2"></div>
			<div class="js-slider-indi indi-3"></div>
		</div>
	</div>
	<div class="primeiro-fundo">
		<div class="primeira-categoria">
			<h1>EDIÇÃO</h1>
			<h2>MÉDIA DE PREÇO: R$8,00</h2>
			<div class="shell">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="wsk-cp-product">
								<div class="wsk-cp-img">
									<img src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg"
										alt="Product" class="img-responsive" />
								</div>
								<div class="wsk-cp-text">
									<div class="category">
										<span>Ethnic</span>
									</div>
									<div class="title-product">
										<h3>My face not my heart</h3>
									</div>
									<div class="description-prod">
										<p>Description Product tell me how to change playlist height size like 600px in
											html5 player. player good work now check this link</p>
									</div>
									<div class="card-footer">
										<div class="wcf-left"><span class="price">Rp500.000</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="primeiro-fundo">
		<div class="primeira-categoria">
			<h1>EDIÇÃO</h1>
		</div>
	</div> -->
</body>

</html>