body {
    background: #F2A410;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../../assets/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../../assets/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: Anton-Regular;
    src: url("../../assets/font/Anton-Regular.ttf");
}

/*=============================================fundos*/

.segunda-parte {
    background-color: #E06309;
}

.terceira-parte {
    background-color: #000000;
}

/*=============================================*/
.ml-200 {
    margin-left: 100px;
}

.mr-200 {
    margin-right: 250px;
}

.pt-100 {
    padding-top: 100px;
}

.wt-30 {
    width: 35%;
}

.wt-200 {
    width: 200px;
}

.poppins-bold1 {
    font-family: Poppins-Bold;
    letter-spacing: 3.1px;
    text-align: left;
    margin-left: 120px;
}

.poppins-regular1 {
    font-family: Poppins-Regular;
    text-align: left;
    margin-left: 120px;
    margin-right: 90px;
    text-align: justify;
}

.anton {
    font-family: Anton-Regular;
    letter-spacing: 3px;
}

.text-black {
    color: black;
}

.text-amarelo {
    color: #F2A410
}

.responsive-image {
    left: 100px;
    top: 10px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height */
    color: #111111;
}

h2 {
    margin-top: 20vh;
    bottom: 44.3%;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    color: #E06309;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    text-align: right;
}

h4 {
    left: 269px;
    top: 500px;
    font-style: normal;
    font-weight: bold;
    font-size: 70x;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.215em;
    color: #111111;
}

p {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.titulo-3 {
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    color: #F4EFE9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-3 {
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #F4EFE9;
}

.titulocard {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #111111;
}

li {
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #111111;
}

.saiba {
    margin-left: 140px;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    color: #111111;
}

.imgBox img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    resize: both;
    margin-right: 160px;
}


/*=======================================================CARDS*/
/*configurações de margem de texto*/

.ft-card {
    border-radius: 50%;
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#E06309, #E06309);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#E06309, #E06309);
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card, .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.card.green .additional .more-info h1 {
    color: #fff;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card.green .additional .coords {
    color: #fff;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card.green .additional .stats {
    color: #fff;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    margin-left: 60px;

}

ul {
    list-style: none;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
    margin-left: 30pt;
}

.position {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0px;
}

.card-1 {
    position: relative;
    left: 10vh;
    top: 10vh;
}

.card-2 {
    position: relative;
    left: 10vh;
    top: 20vh;
}

.card-3 {
    position: relative;
    left: 95vh;
    bottom: 90vh;
}

.card-4 {
    position: relative;
    left: 95vh;
    bottom: 85vh;
}

.card-5 {
    position: relative;
    left: 95vh;
    bottom: 80vh;
}

.fa{
    color: #000000;
}