@media (min-width: 700px) and (orientation: landscape) {
    @font-face {
        font-family: MonumentExtended;
        src: url("../../assets/font/MonumentExtended-Regular.otf") format("OpenType");
    }

    @font-face {
        font-family: Azeebee;
        src: url("../../assets/font/ABeeZee-Regular.ttf");
    }
    .imagem-user{
        text-align: right;
    }

    .bg-nb {
        background-color: #E06309;
    }

    .lg-nb {
        margin-bottom: -120px;
        margin-left: 12px;
        padding-top: 25px;
    }

    .fs-13 {
        font-family: MonumentExtended;
        font-size: 10pt;
        letter-spacing: 3px;
        font-weight: 100;
    }
    /*================botao*/
    #testbutton {
        margin-right: 10px;
        width: 10vw;
        height: 3vw;
        border-radius: 110px;
        position: relative;
        background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
        cursor: pointer;
        line-height: 12px;
    }

    #testbutton:before {
        content: '';
        z-index: 1;
        position: relative;
        display: block;
        width: 80%;
        height: 70%;
        top: 15%;
        left: 10%;
        transition: 0.3s opacity ease-in-out;
        filter: blur(15px);
        opacity: 0;
        background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
    }

    #testbutton:hover:before {
        opacity: 1;
        transition: 0.3s opacity ease-in-out;
        filter: blur(25px);
        background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
    }

    #testbutton:after {
        content: 'CADASTRE-SE';
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: rgba(235, 235, 235, 1);
        font-weight: bold;
        z-index: 5;
        position: absolute;
        display: block;
        border-radius: 110px;
        width: 92%;
        height: 80%;
        top: 10%;
        left: 4%;
        background-color: rgb(19, 20, 22);
    }

    /*botao 2*/
    #testbutton2 {
        margin-right: 10px;
        width: 10vw;
        height: 3vw;
        border-radius: 110px;
        position: relative;
        background: linear-gradient(60deg, #F4EFE9, #DE3411);
        cursor: pointer;
        line-height: 12px;
    }

    #testbutton2:before {
        content: '';
        z-index: 1;
        position: relative;
        display: block;
        width: 80%;
        height: 70%;
        top: 15%;
        left: 10%;
        transition: 0.3s opacity ease-in-out;
        filter: blur(15px);
        opacity: 0;
        background: linear-gradient(60deg, #F4EFE9, #DE3411);
    }

    #testbutton2:hover:before {
        opacity: 1;
        transition: 0.3s opacity ease-in-out;
        filter: blur(25px);
        background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
    }

    #testbutton2:after {
        content: 'ENTRAR';
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: rgba(235, 235, 235, 1);
        font-weight: bold;
        z-index: 5;
        position: absolute;
        display: block;
        border-radius: 110px;
        width: 92%;
        height: 80%;
        top: 10%;
        left: 4%;
        background-color: rgb(19, 20, 22);
    }

    @media (min-width: 700px) and (orientation: landscape) {
        .img-fluid {
            max-width: 100%;
            width: 25%;
            margin-bottom: 0px;
            margin-left: 100px;
        }
    }

    @media (min-width: 700px) and (orientation: landscape) {
        .img-fluid1 {
            max-width: 40%;
            width: 18%;
            margin-bottom: 0px;
            margin-left: 100px;
        }
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    header nav {
        display: inline-block;
    }

    header nav a {
        line-height: 100px;
        margin-left: 50px;
        text-decoration: none !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    header nav a:hover {
        color: #f36b21;
    }

    .start-header {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .start-header.scroll-on {
        box-shadow: 0 5px 10px 0 rgba(251, 50, 0, 0.15);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .navigation-wrap {
        z-index: 1000;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    /* .navbar-brand img {
        width: auto;
        display: block;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    } */

    .navbar-toggler {
        float: right;
        border: none;
    }

    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-light .navbar-toggler-icon:after,
    .navbar-light .navbar-toggler-icon:before {
        position: absolute;
        height: 1px;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;
        transition: all 300ms linear;
    }

    .navbar-light .navbar-toggler-icon:after {
        top: 8px;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
        transform: rotate(45deg);
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
        transform: translateY(8px) rotate(-45deg);
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        border-color: transparent;
    }

    .nav-link {
        color: #F4EFE9 !important;
        font-weight: normal;
        transition: all 200ms linear;
    }

    .nav-item:hover .nav-link {
        color: #f2a410 !important;
    }

    .nav-link {
        position: relative;
        padding: 5px 0 !important;
        display: inline-block;
    }

    .nav-item:hover:after {
        bottom: 0;
        opacity: 1;
    }

    .nav-item.active:hover:after {
        opacity: 0;
    }

    .nav-item {
        position: relative;
        transition: all 200ms linear;
    }

    li {
        font-style: normal;
        font-weight: 800;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.25em;
        color: #F4EFE9;
        left: 30.5px;
    }
}