
@font-face {
    font-family: MonumentExtended;
    src: url("../../assets/font/MonumentExtended-Regular.otf") format("OpenType");
}

@font-face {
    font-family: Azeebee;
    src: url("../../assets/font/ABeeZee-Regular.ttf");
}



.bg-nb {
    background-color: #E06309;
}

.lg-nb {
    margin-bottom: -120px;
    margin-right: 24px;
    margin-left: 70px;
    padding-top: 25px;
   
}

.fs-13{
    font-family: MonumentExtended;
    font-size: 10pt;
    letter-spacing: 3px;
    font-weight: 100;
   }

.bt-nv {
    border-right-color:  #DE3411;  
    border-left-color: #DE3411 ; 
    border-bottom-color:#FD7B83; 
    border-top-color:#FD7B83;
    border-width:2px;
    background-color: black;
    font-size: 10pt;
    font-family: Azeebee;
    letter-spacing: 3px;
    color: #F2A410;
    border-radius: 25px;
    
}



