<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-nb mt-2"> 
    <img class="lg-nb mr-5" src="https://i.imgur.com/M8rHQ7s.png" width="200" alt="logo">   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start ml-5" id="navbarNavAltMarkup">
      <div class="navbar-nav fs-13 ">
        <a class="nav-item nav-link active  mr-4 text-white " href="#">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link mr-4 text-white" routerLink='/cursos'>Cursos</a>
        <a class="nav-item nav-link mr-4 text-white" routerLink='/servicos'>Serviços</a>
        <a class="nav-item nav-link mr-4 text-white" routerLink='/sobre'>Sobre nós</a> 
        <a class="nav-item nav-link mr-4 text-white" routerLink='/contato'>Contato</a> 
                
    
      </div>
    </div>
    <div class="justify-content-center mr-5 ">
      <button type="button" routerLink='/login' class="btn ml-3 bt-nv mr-4 "> ENTRAR </button>
      <button type="button" routerLink='/cadastrar' class="btn  bt-nv azeebee">CADASTRE-SE</button>
    </div> 
  </nav>
</body>
</html>
