#img-bg{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/13e34e62373201.5a8e06334ce44.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}