<!-- Footer -->
<!DOCTYPE html>
	<section id="footer">
		<div class="container-fluid poppins-regular rodape-pagina">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-md-2 align-items-center img1 justify-content-center">	
					<a routerLink='/home' href="">
					 <img class="img"  src="https://i.imgur.com/kR7eZXZ.png" alt="logo">	</a>	
				</div>
				<div class="col-xs-12 col-md-4">
					<p class="pl-0 fs-20">RENTO</p>
						<p class="fs-10">A rento chegou com o objetivo de mudar o Brasil, focada na ODS-16, com foco em um público subalterno, a plataforma buscar fornecer uma nova chance de conseguir um meio de renda e, aprender novas ferramentas que podem desenvolver novos habilidades no mundo online.</p>	
				</div>
				<div class="col-xs-12 col-md-2 p-0">
					<h5>Links</h5>
					<ul class="list-unstyled quick-links fs-10">
						<li><a routerLink='/home'><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a routerLink='/servicos'><i class="fa fa-angle-double-right"></i>Serviços</a></li>
						<li><a routerLink='/sobre'><i class="fa fa-angle-double-right"></i>Sobre nós</a></li>
						<li><a data-toggle="modal" href="" data-target="#modalCadastro"><i class="fa fa-angle-double-right"></i>Cadastro</a></li>
						<li><a href="https://brazil.generation.org/" t><i class="fa fa-angle-double-right"></i>Generation</a></li>
					</ul>
				</div>
                <div class="col-xs-12 col-md-4">
					<h5>Fale conosco</h5>
					<ul class="list-unstyled quick-links fs-10">
						<li><a href="mailto:rento.generation@gmail.com"><i class="fa fa-envelope fa-vc"></i>rento.generation@gmail.com</a></li>
                    </ul>
					<hr>
                    <h5>Mídias sociais</h5>
                    <ul class="list-unstyled quick-links fs-10">
						<li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li><a target="_blank" href="https://github.com/RenToGen"><i class="fa fa-github"></i>GitHub</a></li>
						<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
					</ul>
				</div>                
			</div>
            <hr>
			<div class="modal" id='modalCadastro' tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<app-cadastrar></app-cadastrar>
				  </div>
				</div>
			  </div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt- mt-sm-3 text-center text-white">
					<p><u><a routerLink='/home'>RenTo</a></u></p>
					<p class="h6">© 2021 <a class="text-green ml-2" href="#" target="_blank">RenTo, Inc.</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->