<!-- Footer -->
	<section id="footer">
		<div class="container-fluid poppins-regular">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-md-2">
					<ul >
						<img src="https://i.imgur.com/XeDRNwm.png" alt="logo">
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 ">
					<p class="pl-0 fs-20">RENTO</p>
					<ul class="quick-links  pl-0 ">
						<p class="fs-10">A rento chegou com o obejetivo de mudar o Brasil, focada na ODS-16, estamos ajudando pessoas com menos oportunidades, a ter uma nova chance de conseguir uma renda, e aprender uma nova ferramenta que vai capacitá-la para o mundo.</p>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-2">
					<h5>Links</h5>
					<ul class="list-unstyled quick-links fs-10	">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Serviços</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Sobre nós</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Cadastro</a></li>
						<li><a href="" t><i class="fa fa-angle-double-right"></i>Generation</a></li>
					</ul>
				</div>
                <div class="col-xs-12 col-sm-4  col-md-2">
					<h5>Fale conosco</h5>
					<ul class="list-unstyled quick-links fs-10">
						<li><a href="#"><i class="fa fa-envelope"></i>contato@rento.br</a></li>
                    </ul>
					<hr>
                    <h5>Midias sociais</h5>
                    <ul class="list-unstyled quick-links fs-10">
						<li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li><a target="_blank" href="https://github.com/RenToGen"><i class="fa fa-github"></i>GitHub</a></li>
						<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
						<li><a href="" t><i class="fa fa-angle-double-right"></i>Generation</a></li>
					</ul>
				</div>                
			</div>
            <hr>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt- mt-sm-3 text-center text-white">
					<p><u><a href="#">Rento</a></u></p>
					<p class="h6">© All right Reserved.<a class="text-green ml-2" href="#" target="_blank">Pertencente do grupo Meta</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->