.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position:sticky ;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  body {
    background-color: #F2A410;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .nav-link {
    color: #555;
  }
  
  .nav-link:hover {
    background: #f5f5f5;
  }
  .datepicker{
    cursor: pointer;
 }
 /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  
  /* With arrow tabs */
  
  .with-arrow .nav-link.active {
    position: relative;
  }
  
  .with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  /* lined tabs */
  
  .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  body {
    background-color: #F2A410;
  
    min-height: 100vh;
  }
  
  .nav-pills .nav-link {
    color: #555;
  }
  .text-uppercase {
    letter-spacing: 0.1em;
  }



/* Avaliações*/






.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}

/* criar categoria*/
.categoria {
  margin-top: 50px;
  padding: 15px 100px;
  background-repeat: no-repeat;
  position: relative;
  width: 75%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #F4EFE9;
}
/*texto*/
.titulo-categoria {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  /* idêntico à altura da caixa */
  letter-spacing: 0.215em;
  color: #111111;
}

.valor-categoria {
  margin-left: 50px;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  color: #111111;
}