body {
    margin: 0;
    overflow: hidden;
}

.ml-200 {
    margin-left: 250px;
}

.mr-200 {
    margin-right: 250px;
}

.pt-100 {
    padding-top: 100px;
}

.wt-30 {
    width: 35%;
}

.wt-200 {
    width: 200px;
}

.bg-amarelo {
    background-color: #F2A410;
}


@font-face {
    font-family: Poppins-Bold;
    src: url("../../assets/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../../assets/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: Anton-Regular;
    src: url("../../assets/font/Anton-Regular.ttf");
}

.poppins-bold {
    font-family: Poppins-Bold;
    letter-spacing: 3.5px;
    text-align: left;
    margin-left: 50px;
    margin-top: 200px;
}

.poppins-regular {
    font-family: Poppins-Regular;
    text-align: left;
    margin-left: 50px;
}

.anton {
    font-family: Anton-Regular;
    letter-spacing: 3px;
}

.bg-preto {
    background-color: black;
}

.text-black {
    color: black;
}

.text-amarelo {
    color: #F2A410
}

.responsive-image {
    height: auto;
    width: 70%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*=================apresentacao*/
.apresentacao {
    background-image: url("https://i.imgur.com/op1KHK4.png");
    width: 1370px;
    height: 1114px;
    position: relative;
    z-index: 3;
}

iframe {
    margin-top: 200px;
    margin-right: 50px;
}

/*========================newsletter*/

#email {
    position: relative;
    width: 800px;
    height: 74px;
    left: 257px;
    margin-top: 200px;
    border: 0px;
    background: rgba(244, 239, 233, 0.7);
}

.newsletter {
    background-image: url("https://image.freepik.com/free-photo/medium-shot-students-with-laptop_23-2148950529.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1349px;
    height: 820px;
    position: absolute;
    top: 1750px;
    z-index: 1;
}

.news-color {
    position: relative;
    width: 1348px;
    height: 820px;
    background: rgba(244, 239, 233, 0.4);
}

.titulo-new {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #111;
    margin-bottom:150px;
    left: 320px;
}

#testbutton {
    width: 150px;
    height: 50px;
    border-radius: 180px;
    position: relative;
    left: 580px;
    top: 50px;
    background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
    cursor: pointer;
    line-height: 12px;
}

#testbutton:before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    transition: 0.3s opacity ease-in-out;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
}

#testbutton:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg, #F4EFE9, #DE3411, #FD7B83);
}

#testbutton:after {
    content: 'Enviar';
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
    font-weight: bold;
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 180px;
    width: 92%;
    height: 80%;
    top: 10%;
    left: 4%;
    background-color: rgb(19, 20, 22);
}


/*========================parceiros*/
.titulo3 {
    position: absolute;
    width: 711px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 0.465em;
    color: #F4EFE9;
}

h1 {
    position: relative;
    width: 711px;
    height: 167px;
    left: 345px;
    top: 409px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 89px;
    text-align: center;
    letter-spacing: 0.465em;
    color: #F4EFE9;
    text-align: center;
}

.titulo-parceiros {
    background-image: url("https://i.imgur.com/Q0jC6SD.png");
    width: 1349px;
    height: 280px;
    margin-top: 300px;
    position: relative;
    z-index: 3;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: #1111;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 450px;
    margin-top: 500px;
    overflow: hidden;
    position: absolute;
    width: 1360px;
}

.slider::before, .slider::after {
    background: #1111;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/*fundo e logos*/
.parceiros {
    background-image: url(https://i.imgur.com/h9wHyq7.png);
    position: relative;
    width: 1349px;
    height: 900px;
    margin-top: 500px;
}