<!doctype html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Rento</title>

</head>


<body class="bg-amarelo">

  <div class="container-fluid poppins-regular pt-100">
    <div class="d-flex justify-content-around text-xs-center align-items-center mt-5 pt-5">

      <div class="row text-center text-xs-center text-sm-left text-md-left align-items-center">
        <div class="col-12 col-sm-6 text-center ">
          <div class="h3 poppins-bold">SUA INSERÇÃO EM UM NOVO MERCADO DE TRABALHO ONLINE!</div>
          <div class="poppins-regular ">Com estudos, discução e prática em uma plataforma que te leva a construir uma nova
            história.</div>
        </div>
          <div class="col-12 col-sm-6 ">
            <img src="https://i.imgur.com/wG0MtRf.png" alt="Homem segurando notebook" width="100%"
              class="pt-5 pb-5 img-fluid">
          </div>
      </div>

    </div>
    <div class="d-flex justify-content-center pb-5" >
      <button  type="button" routerLink='/cursos'
        class="btn border bg-preto text-amarelo btn-lg mr-1 anton wt-200 rounded-0">CURSOS</button>
      <button type="button" routerLink='/servicos'
        class="btn border bg-amarelo text-black btn-lg mr-1 anton wt-200 rounded-0">CONTRATAR</button>
    </div>
  </div>

</body>

</html>