<!doctype html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>RenTo</title>

</head>


<body class="bg-amarelo">
  <header>
    <div class="container-fluid poppins-regular pt-100">
      <div class="d-flex justify-content-around text-xs-center align-items-center mt-5 pt-5">

        <div class="row text-center text-xs-center text-sm-left text-md-left align-items-center">
          <div class="col-12 col-sm-6 text-center ">
            <div class="h3 poppins-bold">SUA INSERÇÃO EM UM NOVO MERCADO DE TRABALHO ONLINE!</div>
            <div class="poppins-regular ">Com estudos, discussão e prática em uma plataforma que te leva a construir uma
              nova
              história.</div>
          </div>
          <div class="col-12 col-sm-6">
            <img src="https://i.imgur.com/wG0MtRf.png" alt="Homem segurando notebook" width="80%"
              class="pt-4 pb-5 img-fluid">
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-center pb-5">
        <button type="button" routerLink='/cursos'
          class="btn border bg-preto text-amarelo btn-lg mr-1 anton wt-200 rounded-0">CURSOS</button>
        <button type="button" routerLink='/servicos'
          class="btn border bg-amarelo text-black btn-lg mr-1 anton wt-200 rounded-0">CONTRATAR</button>
      </div>
    </div>
  </header>
  <main>
    <section class="apresentacao">
      <div class="container-fluid poppins-regular pt-100">
        <div class="d-flex justify-content-around text-xs-center align-items-center mt-5 pt-5">
          <div class="row text-center text-xs-center text-sm-left text-md-left align-items-center">
            <div class="col-4 col-sm-6 text-center ">
              <div class="h3 poppins-bold">COMO FUNCIONA</div>
              <div class="poppins-regular ">Com estudos, discussão e prática em uma plataforma que te leva a construir
                uma
                nova
                história.</div>
            </div>
            <div class="col-3 col-sm-5">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/frwNqpShubE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="newsletter">
      <div class="news-color">

        <h1 class="titulo-new">SE INSCREVA E RECEBA NOSSA NEWSLETTER</h1>
        <form>
          <input type="email" id="email" onkeyup='validaEmail()'>
          <div class="validaEmail" id='txtEmail'></div>
        </form>
        <div id="testbutton"></div>
      </div>
    </section>
    <div class="titulo-parceiros">
      <h1>NOSSOS<br>PARCEIROS</h1>
    </div>
    <section class="parceiros">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="https://nakedsecurity.sophos.com/wp-content/uploads/sites/2/2017/12/linkedin.png?w=780&h=408&crop=1" height="200" width="200" alt="logo da empresa linkedin" />
          </div>
          <div class="slide">
            <img src="https://www.shipay.com.br/wp-content/uploads/2020/07/ame-logo-colorida-2.png" height="200" width="200" alt="logo da empresa ame" />
          </div>
          <div class="slide">
            <img src="https://ndd.tech/wp-content/uploads/2019/02/oracle.png" height="200" width="200" alt="logo da empresa oracle" />
          </div>
          <div class="slide">
            <img src="https://seeklogo.com/images/L/luizalabs-logo-1656CE2B2D-seeklogo.com.png" height="200" width="200" alt="logo da empresa luiza labs" />
          </div>
          <div class="slide">
            <img src="https://media.discordapp.net/attachments/880170952799969330/910573639550771260/91280708.png"
              height="200" width="200" alt="logo da empresa GEN60+" />
          </div>
          <div class="slide">
            <img src="https://static.wixstatic.com/media/a60af1_0c3e31facb6746388ded568412afba72~mv2.png/v1/fill/w_560,h_338,al_c,lg_1,q_85/Logo_Funda%C3%A7%C3%A3o_Bradesco.webp" height="200" width="200" alt="logo da empresa fundação bradesco" />
          </div>
          <div class="slide">
            <img
              src="https://logosmarcas.net/wp-content/uploads/2021/03/TIM-Logo.png"
              height="200" width="200" alt="logo da empresa tim" />
          </div>
          <div class="slide">
            <img src="https://www.itau.com.br/content/dam/itau/logo-itau.png" width="200" alt="logo da empresa itaú" />
          </div>
          <div class="slide">
            <img src="https://cdn2.downdetector.com/static/uploads/logo/Google-new_19.png" height="100" width="200"
              alt="logo da empresa google" />
          </div>
          <div class="slide">
            <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" height="200" width="200"
              alt="logo da empresa twitter" />
          </div>
          <div class="slide">
            <img src="https://i.imgur.com/oGKvCzi.png" height="200" width="200"
              alt="logo da empresa generation brasil" />
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>